body {
  background-color: lightblue;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.directory-box {
  display: flex;
  flex-wrap: wrap;
}
/*************Individual user************/
h2 {
  font-size: 3em;
}
.individualUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  border: 0.5px solid gray;
  border-radius: 300px;
  margin-right: 1em;
  height: 175px;
}
.photo_contact {
  display: flex;
}
.name_job_contact {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  height: 200px;
}
